<!DOCTYPE html>
<html>

<body>
  
  <div class="home">
    <p>Hello!</p>
    <p>This website uses a number of Ruby gems to allow you to run three different searches.</p> 
    <p>"Image Search" will find you a random image based on a query, or an image chosen at random from twenty predetermined keywords.</p>
    <p>"Stocks" will return basic information on the stock of your choice.</p>
    <p>"Movies" will search IMDB for the movie of your choice, and return basic information about it.</p>
  </div>

</body>

</html>



