<div class="search">

  <p>What would you like to search for?</p>

  <form action="/image_result" method="gets">
		  <input type="text" name="image_search">
		  <button>Keyword Search</button>
  </form>

  <form action="/random_image" methond"gets">
		  <input type="hidden" name="random_image">
		  <button>Random Image</button>
  </form>

</div>



