<link rel="stylesheet" type="text/css" href="stylesheet.css">

<head></head>
<header>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/images">Images</a></li>
			<li><a href="/movies">Movies</a></li>
			<li><a href="/stocks">Stocks<a></li>
		</ul>
	</nav>
</header>

<%= yield %>
<footer>&copy;2013 walkingtowork, oleander (movies), maurimiranda (image suckr), tyrauber (stock)</footer>

