<p>Results of your search:</p>
<div class=image>
	<img src="<%=@random_result %>"/>
</div>

<form action="/random_image" method="gets">
		<input type="hidden" name="image_search">

		<button>Search</button>
</form>